name: CI

on:
  push:
    branches: [ '*' ]

jobs:
  build:
    runs-on: macos-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: make build

  test:
    runs-on: macos-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer

    steps:
    - uses: actions/checkout@v2
    - name: Test
      run: make test

  install:
    runs-on: macos-11
    env:
      DEVELOPER_DIR: /Applications/Xcode_13.2.1.app/Contents/Developer

    steps:
    - uses: actions/checkout@v2
    - name: Install
      run: make install
    - name: Uninstall
      run: make uninstall
